@charset "UTF-8";
/*命名規則：OOCSS*/

/*共通部分*/
html {
  font-size: 100%;
}

body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

body, footer, section, nav, img, ul, ol, li, h1, h2, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
}

.flex {
  display: flex;
  margin-bottom: 60px;
}

/*mainvisual*/
.mainvisual {
  width: 50%;
}

.mainvisual img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  vertical-align: bottom;
}

/*recipe*/
.recipe {
  box-sizing: border-box;
  width: 50%;
  padding: 40px 5% 0 5%;
}

.main-title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.content-title {
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  margin: 40px 0 15px 0;
  padding-bottom: 5px;
}

.recipe .ingredient-list {
  display: flex;
  flex-wrap: wrap;
}

.recipe .ingredient-list dt {
  width: 85%;
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
}

.recipe .ingredient-list dd {
  width: 15%;
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
  text-align: right;
}

.recipe .step-list li {
  padding: 6px 0;
  border-bottom: 1px dotted #ccc;
  margin-left: 20px;
}

/*btn*/
.btn {
  text-align: center;
  margin-bottom: 80px;
}

.btn a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 18px 60px;
  border: 1px solid #2b2a27;
}

/*footer*/

#footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 20px;
}

.sns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sns li {
  margin: 0 10px;
}

@media screen and (max-width: 834px) {
  .flex {
    flex-direction: column;
  }

  .mainvisual {
    width: 100%;
  }

  .mainvisual img {
    height: auto;
  }

  .recipe {
    width: 100%;
  }
}

/*反省点、メモなど
・marginをtopでとりがち
見本が基本bottomなのでbottomのほうがいいかも？
・色をお手本通りにするの難しい、真っ黒ではないとはおもったけど、、
・font-family、左のほうが優先順位上
・画像はアプローチは少々異なったけど、
やろうとしていることは同じだったかも
・せっかくつけたクラス名を使い忘れてた、、h1、h2
・dl、dt、ddタグとの出会い←定義、説明
*/