@charset "UTF-8";

/*命名規則：OOCSS*/

/*共通部分*/
html {
  font-size: 100%;
}

body {
  color: #2d2d2d;
  font-family: "Crimson Text", serif;
}
/*ブラウザのWhatFontで確認*/

body, header, nav, ul, li, img, p, h1, h2, span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}

.site-title {
  width: 110px;
  line-height: 1px;
  margin-right: 50px;
}

.site-title a {
  display: block;
}

.section-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 4px;
}

.section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}

/*mainvisual*/
#mainvisual {
  width: 90vw;
  margin: 4% auto 0 auto;
}

/*header*/
#header {
  width: 90vw;
  padding: 32px 0;
  display: flex;
  align-items: center;
  margin: 0 auto 30px auto;
}

#header ul {
  display: flex;
}

#header li {
  font-size: 0.875rem;
  margin-right: 30px;
}

#header li:last-child {
  margin-right: 0;
}

/*main*/
.content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.content .img {
  width: 50%;
}

.content .text-area {
  width: 50%;
  padding: 0 7%;
  box-sizing: border-box;
}

/*footer*/
#footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 20px 0;
}

#footer .logo {
  width: 110px;
}

/*メディアクエリ*/
@media screen and (max-width:767px) {
  .section-title {
    font-size: 1.25rem;
  }

  #mainvisual {
    width: 100%;
    margin: 0;
  }

  #mainvisual img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  #header {
    width: 100%;
    padding: 20px 18px;
  }

  #work {
    flex-direction: column-reverse;
  }

  .content {
    flex-direction: column;
  }

  .content .img {
    width: 100%;
    margin-bottom: 10px;
  }

  .content .text-area {
    width: 100%;
    padding: 0;
  }
}

/*反省点、メモなど
・innerでmain、 foooterの幅を指定していたが、
外からまとめてcontainerで囲む方法もあるのか、、、
・concept、workにそれぞれdisplay:flex、margin-bottomを指定していた
同じクラスを付与してスタイルの再利用
・margin打消し忘れ
・CSSをよりスッキリ書けるようにしたい、、
・サイトロゴ画像だった、カーソル合わせて確認しよう
・画像の縦のレスポンシブも意識する
・Crimson Textの見え方が違ったので、最後にHTMLにgooglefontsのlinkを追加しました
　→preconnectを指定することで外部リンクのネットワーク接続を事前に行う指定
*/