@charset "UTF-8";

/*命名規則：OOCSS*/

html {
  font-size: 100%;
}

body, header, footer, section, nav, img, ul, li, h1, h2, p, span, dl, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E7E2D7;
  color: #000000;
  font-family: "Noto Serif JP", serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.site-title {
  line-height: 1px;
  margin-left: 60px;
}

.site-title a {
  display: block;
}

.site-title img {
  width: 40px;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*-------------------------------
header
-------------------------------*/

#header {
  background-image: url(../image/mainvisual-pc.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 60px 80px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 180px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

#nav li {
  margin-left: 25px;
}

#header .onlinestore {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  position: absolute;
  bottom: 30px;
  left: 40px;
}

#header .onlinestore a {
  display: block;
  border: 1px solid #ccc;
  padding: 30px 18px;
  box-sizing: border-box;
}

#header .onlinestore a:hover {
  opacity: 0.7;
}

/*-------------------------------
news
-------------------------------*/
#news {
  margin-bottom: 180px;
  display: flex;
  flex-direction: row-reverse;
}

#news .sec-title {
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  -webkit-writing-mode:vertical-rl;
  -moz-writing-mode:vertical-rl;
  -ms-writing-mode: tb-rl;
}

#news .sec-title .en {
  display: block;
  font-size: 0.875rem;
  margin-left: 15px;
}

#news .sec-title .ja {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.1em;
}

#news .list {
  padding: 80px 100px 0 0;
  writing-mode: vertical-rl;
  -webkit-writing-mode:vertical-rl;
  -moz-writing-mode:vertical-rl;
  -ms-writing-mode: tb-rl;
}

#news .list dt {
  padding: 15px 30px 15px 5px;
  border-right: 1px solid #000000;
  font-size: 0.75rem;
}

#news .list dd {
  padding: 15px 0 15px 30px;
}

#news .list dd:last-child {
  border-left: 1px solid #000000;
}

/*-------------------------------
products1,products2
-------------------------------*/
.products {
  display: flex;
  margin-bottom: 180px;
}

.products .sec-title {
  font-weight: normal;
  line-height: 1;
}

.products .sec-title .ja {
  font-size: 2rem;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.products .sec-title .en {
  font-size: 0.875rem;
}

.products .item {
  width: 65%;
  margin-top: 100px;
  position: relative;
}

.products .text {
  width: 56%;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: -20px;
}

#products1 {
  flex-direction: row-reverse;
}

#products1 .sec-title {
  margin-left: 20px;
  writing-mode: vertical-lr;
  -webkit-writing-mode:vertical-lr;
  -moz-writing-mode:vertical-lr;
  -ms-writing-mode: tb-lr;
}

#products1 .text {
  background-color: rgba(249, 233, 6, 0.6);
  left: -20px;
}

#products2 .sec-title {
  margin-right: 20px;
  writing-mode: vertical-rl;
  -webkit-writing-mode:vertical-rl;
  -moz-writing-mode:vertical-rl;
  -ms-writing-mode: tb-rl;
}

#products2 .text {
  background-color: rgba(149, 42, 38, 0.6);
  right: -20px;
}

/*-------------------------------
shop
-------------------------------*/

#shop iframe {
  width: 100%;
  vertical-align: bottom;
}

/*-------------------------------
footer
-------------------------------*/

#footer {
  background-color: #000000;
  color: #ffffff;
  padding: 80px 80px 30px 30px;
  box-sizing: border-box;
}

#footer .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

#footer .inner .left,
#footer .inner .right {
  writing-mode: vertical-rl;
  -webkit-writing-mode:vertical-rl;
  -moz-writing-mode:vertical-rl;
  -ms-writing-mode: tb-rl;
}

#footer .right .logo {
  width: 40px;
  margin-left: 60px;
}

#footer .right .info {
  line-height: 2;
}

#footer .menu li {
  margin-left: 25px;
}

#footer .copyright {
  font-size: 0.625rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }

/*-------------------------------
header
-------------------------------*/

  #header {
    background-image: url(../image/mainvisual-sp.png);
    padding: 20px;
    margin-bottom: 80px;
  }

  #header .onlinestore {
    bottom: 20px;
    left: 20px;
  }

/*-------------------------------
news
-------------------------------*/

  #news {
    margin-bottom: 80px;
  }

  #news .sec-title .ja {
    font-size: 1.75rem;
  }

  #news .list {
    padding: 20px 30px 0 0;
  }

  #news .list dt {
    padding: 15px 12px 15px 5px;
  }

  #news .list dt:nth-child(n + 4) {
    display: none;
  }

  #news .list dd {
    padding: 15px 0 15px 12px;
  }

  #news .list dd:nth-of-type(3) {
    border-left: 1px solid #000000;
  }

  #news .list dd:nth-of-type(n + 4) {
    display: none;
  }

/*-------------------------------
products1,products2
-------------------------------*/

  .products {
    margin-bottom: 100px;
  }

  .products .sec-title .ja {
    font-size: 1.5rem;
  }

  .products .sec-title .en {
    display: none;
  }

  .products .item {
    width: 90%;
    margin-top: 70px;
  }

  .products .text {
    width: 64%;
    font-size: 0.875rem;
    padding: 30px 0;
  }

  #products1 .sec-title {
    margin-left: 10px;
  }

  #products2 .sec-title {
    margin-right: 10px;
  }

/*-------------------------------
footer
-------------------------------*/

  #footer {
    padding: 40px 20px 30px 20px;
  }

  #footer .inner .logo {
    margin-left: 25px;
  }

  #footer .menu li {
    margin-left: 10px;
  }

  #footer .menu {
    font-size: 0.875rem;
    margin-right: 25px;
  }
}

/*
反省点、メモ
・縦書き難しい！
予想した挙動と案外違うので、試行錯誤で時間がかかった。
あとmedia screenにしたときにやっぱ違ったみたいなことが多かった。
・またwrapperをinnerで記載してしまった。あほの子、、、学習能力、、
・newsがul、liではなくdl、dt、ddだった！
課題５ではul、liだったので、何か使い分けの定義？はあるのか、それとも案件での相談次第？なのか。
はたまたどちらでもOKなのか気になる！
・ベンダープレフィックス忘れがち
・背景を  backgroundでまとめて書く時と、まとめずに-positionなどで書く時の違いは、
設定の内容による？まとめると positionのcenterとtopを同時に使えないから？
・予想以上に細かい要素ごとに縦書きの設定をしている
→広い範囲で縦書きの設定をするより、部分部分で設定をするほうが、配置の調整や予測がしやすそう
・products1とproducts2を共通のクラスproductsをつけてなかったからコードが増えてしまった、、
なんで思いつかなかった～！？というレベルでショック
・303行目、なぜそこにbackground-sizeがあるのか自分でもよくわからなかった、
たぶんひとつ上の#headerに書きたかったんだと思う
ただ、メディアクエリでSPサイズになった時に、豆のサイズ感はあれ？と思っていたが、まさか画像も別のものになっているとは、、、
・footerのオンラインストアを見る＆お問い合わせの間の線が文字？だった
・iframe = インラインフレーム
外部のWEBサイトを埋め込む
・fotterの電話番号をクリックすると電話かけれる設定見逃してた
*/